//cosas que aplican a todo el proyecto - Las variables globales

$mainColor:#3d5286;
$secondColor:white;
$mainColor03: #3d528630;


//sizing


//Fondos y Tipografias

@mixin azul($theme: $mainColor) {
    color: $secondColor;
    background-color: $mainColor;
    
}

@mixin blanco ($theme: $secondColor) {
    color: $mainColor;
    background-color: $secondColor;
    
}

