//cosas que aplican a todo el proyecto - Las variables globales

$mainColor:#3d5286;
$secondColor:white;


//sizing


//Fondos

@mixin azul($theme: $mainColor) {
    background-color: $mainColor;
    color: $secondColor;
}
