//cosas que aplican a todo el proyecto - Las variables globales

$mainColor:#3d5286;
$secondColor:white;
$mainColor03: rgba(61, 81, 133, 0.1);


//sizing


//Fondos y Tipografias

@mixin azul {
    background-color: $mainColor;
    color: $secondColor;

    
}

@mixin blanco {
    background-color: $secondColor;
    color: $mainColor;
   
}

