// Botones
.btn {
    background-color: $mainColor;
    color: $secondColor;
    border: none;
    padding: .5rem;
    text-decoration: none;
    &:hover {
        background-color:$secondColor;
        color: $mainColor;
        border: 0.2rem solid $mainColor;
    }
}

.btn-insc {
    @extend .btn;
    border: 0.2rem solid $secondColor!important;
    font-weight: 600
    
}

.btn-primary {
    @extend .btn;
    border: 0.2rem solid white;
    box-shadow: $secondColor;
    &:hover {
        background-color:$secondColor;
        color: $mainColor;
    }
}

// titulos
header, h2, h4 {
    @include azul
}
// Cards
#dashboard {
    h5 {
        color: $mainColor;
        font-variant: small-caps;
    }
    p {
        color: $mainColor;
    }
    .card {
        border: none;
            &:hover {
                box-shadow: 0 4px 20px -5px $mainColor;
                top: -1rem;
        }
    }
}

.card {
    border: none;
    background-color: $secondColor
    ;
    &:hover {
        box-shadow: 0 4px 20px -5px $mainColor;
    } 
}

figcaption {
    
    @include blanco
}

.caja__title {
    @include blanco
}

.card-title {
    @include blanco
}

// tablas cronograma

#cronograma {
        th {
        color: $mainColor;
        font-weight: 600;
        }

        .th-title {
            font-weight: 700;
        }

        td {
        color: $mainColor;        
        width: 40%;
        
        }

        a {
        text-decoration: none;
        color: $mainColor;
            &:hover {
                color: $mainColor03;
            }
        }
        td h4 {
            color: $mainColor;
            background-color: transparent;
            font-weight: 700;

        }
}


