.bg-navbar {
    background-color: $mainColor;
    color: $secondColor;
}

nav {
    font-family: $fontMain;
    ul {
        li {
            a {
                color: $secondColor!important;
                &:hover {
                    color: $mainColor!important;
                    background-color: $secondColor!important;
                    font-weight: bold;
                }
            }
        }
    }
}