#formularioInscripcion {
    display: grid;
    grid-template-columns: 1fr 5fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 0.5fr 1.5fr 0.5fr;
    grid-template-areas: "lNombre iNombre"
                         "lApellido iApellido"
                         "lProfesion iProfesion"  
                         "lEmail iEmail"
                         "lGremio iGremio"
                         "lConsulta lConsulta"
                         "iConsulta iConsulta" 
                         "bBorrar bAceptar";
    padding: 15px 100px;
    margin: 0px 5% 0px 5%;
    border: 2px solid #3d5286;
    align-items: center;
    justify-content: center;
    
}
.labelNombre {
    grid-area: lNombre;
}
.labelApellido {
    grid-area: lApellido;
}
.labelProfesion {
    grid-area: lProfesion;
}
.labelEmail {
    grid-area: lEmail;
}
.inputNombre {
    grid-area: iNombre;
}
.inputApellido{
    grid-area: iApellido;
}
.inputProfesion {
    grid-area: iProfesion;
}
.inputEmail {
    grid-area: iEmail;
}
.labelGremio {
    grid-area: lGremio;
}
.inputGremio {
    grid-area: iGremio;
}
.labelConsulta{
    grid-area: lConsulta;
}
.inputConsulta {
    grid-area: iConsulta;
}

.botonAceptar {
    grid-area: bAceptar;
    height: 3em;
    font-size: 1em;
    color: white;
    background-color: #3d5286;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px 0px 0px 10px;
}
.botonAceptar:hover {
    font-weight: bold;
    color: #3d5286;
    background-color: white;
    border-radius: 20px;
    transform: scale(1.03);
    box-shadow: 5px 5px 25px 1px rgba(0, 0, 0, 0.5);
}

.botonBorrar {
    grid-area: bBorrar;
    height: 3em;
    font-size: 1em;
    color: white;
    background-color: #3d5286;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px 0px 0px 0px;
}
.botonBorrar:hover {
    font-weight: bold;
    color: #3d5286;
    background-color: white;
    border-radius: 20px;
    transform: scale(1.03);
    box-shadow: 5px 5px 25px 1px rgba(0, 0, 0, 0.5);
}



label {
    font-size: 18px;
    margin: 5px;
}

select {
    height: 2em;
    margin: 10px;
    border-width: 0px;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.1);
    padding: 5px 5px 5px 15px;
    border-radius: 5px; 
}

input {
    height: 2em;
    margin: 10px;
    border-width: 0px;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.1);
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
}

option select {
    height: 2em;
    margin: 10px;
    border-width: 0px;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.1);
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
}