html { /* etiqueta raiz */
    font-size: 62.5%;
    font-family: 'nunito';
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;

}
/* Grid Layout*/
.container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header" "nav" "insc" "main" "footer" ;
}

.header {
    grid-area: header;
}
.nav {
    grid-area: nav;
}
.insc {
    grid-area: insc;
}
.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}
/*Fin Grid-Layout*/

/*Inicio Header*/
header {
    background-color: #3d5286;
}
.container-flex-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem 0 2rem;
        
}
/*Fin Header*/

/*Navbar superior*/
nav {
    padding: 1rem;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 2rem 0 0;

}

nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5rem 1rem;
    text-align: center;
}
nav li a:hover {
    background-color: white;    
    font-weight: bold;
    color: #3d5286;
}
.container-flex-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 82, 134);
}
/*Fin navbar superior*/

/* Inicio Inscripcion*/
/*
.inscripcion button {
        background-color: #3d5286;
        border: 0.1rem solid white;
        border-radius: 10%;
        padding: 1.5rem 3rem;
        text-align: center;
        display: inline-block;
        font-size: 2rem;
        transition: width 1s, height 1s;
}
.inscripcion button a {
        text-decoration: none;
        color: white;
}
.inscripcion button a:hover {
     color: #3d5286;
}
.inscripcion button:hover {
    background-color: white;
    width: 20rem;
    height: 10rem;
} */
.button {
    min-width: 20rem;
    min-height: 5rem;
    font-size: 2rem;
    text-decoration: none;
    color: #3d5286;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #3d5286;
    background: white;
    border: none;
    border-radius: 1000px;
    box-shadow: 1rem 1rem 2rem white;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 1rem;
    }

  button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(20rem + 1rem);
    min-height: calc(5rem + 1rem);
    border: 0.5rem solid white;
    box-shadow: 0 0 4rem white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #3d5286;
    transform: translateY(1rem);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }

.inscripcion {
    background-color: #3d5286;
    color: white;
    align-items: center;
    padding: 1rem 1rem 3rem 1rem;
}
.inscripcion p {
    font-size: 1.25rem;
    text-align: center ;
    margin-top: 0;
}
.inscripcion h3 {
    font-size: 2.5rem;
    text-align: center;
}

/*Fin Inscripcion*/

/*Inicio Main*/
main {
    margin: 4rem 2rem 4rem 2rem;
    justify-content: center; 
}
iframe {
    width: 90%;
    border-radius: 5px;
}
.container-flex-caja {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.container-flex-caja-sede {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.caja {
    margin: 0.5rem;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:95%;
    height:95%;
}
.caja__title {
    padding: 1rem;
    font-size: 2rem;
    color: #3d5286;
}
.caja__img {
    display: block;
    width: 95%;
    height: auto;
    border-radius: 1rem;
    align-items: center;
    margin: 1rem;
}
figcaption {
    margin: 1rem;
    font-size: 1.5rem;
    color: #3d5286;
}
/*Fin Main*/

/*Inicio Footer*/
footer {
    padding-top: 1rem;
    justify-content: center;
}

/*Fin Footer*/
.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botNavLogo {
    width: 50px;
    height: auto;
}

/*Inicio MQ*/
@media (min-width: 768px){
	/* defino 2cols*/
	.container{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
		"header nav"
        "insc insc"
		"main main" 
		"main main" 
		"footer footer";
	}
    header {
        align-items: center;
    }
    
}

@media (min-width: 1160px){

/*Inicio navbar superior*/
.container-flex-nav {
    justify-content: center;
}
li {
    display: inline-block;
}
/*Fin navbar superior*/

/*Inicio Main*/
.container-flex-caja {
    flex-direction: row;
    align-items: unset;
}
.container-flex-caja-sede {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
.caja {
    margin: 0.5rem;
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/*Fin Main*/
}
    

    
